<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./stayle.css" />
  </head>
  <body>
    <div class="weather">
      <h1>Weather App</h1>
    </div>
    <div class="nav">
      <h4>home</h4>
      <h4>about</h4>
      <h4>help</h4>
    </div>
    <p>use this site to get the weather</p>
    <form class="a">
      <h4> the weather in current location</h4>
      <button>click her</button>

    </form>
    <p class="res"></p>

    <script src="./data.js"></script>
  </body>
</html>